@page
@using SwingLeftAssessment.Models;
@model IndexModel

@{
  ViewData["Title"] = "Home page";
}

<main>
  <h1 id="greeting">Heyo!</h1>
  <button onclick="HelloWorld()">Change greeting</button>
  <table id="deadlinesTable">
    <thead>
      <tr>
        <th>State</th>
        <th>In Person</th>
        <th>By Mail</th>
        <th>Online</th>
        <th>Election Day Registration</th>
        <th>Online Registration Link</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>Filter By State</td>
        <td>Filter By Deadline In Person</td>
        <td>Filter By Deadline By Mail</td>
        <td>Filter By Deadline Online</td>
        <td>Filter By Election Day Registration</td>
        <td>Filter By Online Registration Link</td>
        <td>Filter By Description</td>
      </tr>
    </thead>
    <tbody>
      @foreach (voter_registration_deadlines deadline in Model.deadlines)
      {
        <tr>
          <td class='nowrap'>@deadline.State</td>
          <td class='nowrap'>@deadline.DeadlineInPerson</td>
          <td class='nowrap'>@deadline.DeadlineByMail</td>
          <td class='nowrap'>@(!(String.IsNullOrEmpty(deadline.DeadlineOnline)) ? @deadline.DeadlineOnline : "Unavailable")</td>
          <td>@deadline.ElectionDayRegistration</td>
          <td class='nowrap'><a href='@deadline.OnlineRegistrationLink'>@deadline.State Online Registration</a></td>
          <td>@deadline.Description</td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>State</th>
        <th>Deadline In Person</th>
        <th>Deadline By Mail</th>
        <th>Deadline Online</th>
        <th>Election Day Registration</th>
        <th>Online Registration Link</th>
        <th>Description</th>
      </tr>
    </tfoot>
  </table>
</main>
