@page
@using SwingLeftAssessment.Models;
@model IndexModel

@{
  ViewData["Title"] = "Home page";
}

<main>

@*   <h1 id="greeting">Heyo!</h1>
  <button onclick="HelloWorld()">Change greeting</button> *@
  <table id="deadlinesTable">
    <thead>
      <tr>
        <th class="state">State</th>
        <th class="person">In Person</th>
        <th class="mail">By Mail</th>
        <th class="online">Online</th>
        <th class="dayOf">Election Day Registration</th>
        <th class="regLink">Online Registration Link</th>
        <th class="description">Description</th>
      </tr>
      <!--
        I'm not confident that having this in thead won't 
        create issues for screen readers. I did not test with 
        screen reader for this assessment
      -->
      <tr class="filterRow">
        <td>Filter By State</td>
        <td>Filter By In Person</td>
        <td>Filter By Mail</td>
        <td>Filter By Online</td>
        <td>Filter By Election Day</td>
        <td>Filter By Online Link</td>
        <td>Filter By Description</td>
      </tr>
    </thead>
    <tbody>
      @foreach (voter_registration_deadlines deadline in Model.deadlines)
      {
        <tr>
          <td>@deadline.State</td>
          <td>@deadline.DeadlineInPerson</td>
          <td>@deadline.DeadlineByMail</td>
          <td>@deadline.DeadlineOnline</td>
          <td>@deadline.ElectionDayRegistration</td>
          <td><a href='@deadline.OnlineRegistrationLink'>@deadline.State Online Registration</a></td>
          <td>@deadline.Description</td>
        </tr>
      }
    </tbody>
  </table>
</main>
